@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.default {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin: 0 auto;
    padding: 0;

    max-width: 1600px; /* given image herobg was 1600 px. So I thought all should be aligned on base of max 1600 w */
    
    background-color: rgba(26, 11, 46, 1);
    color: white;
}

.display-flex {
    display: flex;
}

.btn-primary {
    font-weight: 600;
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 8px 20px rgba(145, 0, 248, 0.4);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 200px;
}

.navbar h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.nav-heading .part2 {
    color: #FB09B4; 
    /* trying to figure out the text gradient. we used only bg gradient before. */
    
    /* color: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8); */
}

.navbar ul {
    list-style: none;
    gap: 2rem;
}

.navbar ul a {
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    color: white;
}

.header-section-contents {
    background-image: url(../images/hero-bg.png);
    justify-content: center;
    align-items: center;
}

.contents-container {
    text-align: center;
    margin: 100px auto;
}

.header-img-container {
    background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
    box-shadow: 0 0 20px rgb(99, 76, 181);
    width: 200px;
    height: 200px;
    margin: 0 auto 40px;
    padding: 70px 75px;
    border-radius: 50%;

    position: relative;
}

.mic-badge {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #00FF88;
    box-shadow: 0 0 10px rgb(109, 181, 76);
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
}

.contents-container h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.contents-container .button-container {
    margin-top: 24px;
    gap: 8px;
    justify-content: center;
}

.header-btn2 {
    background: none;
    color: #00FF88;
    padding: 12.5px 20px;
    border: 2px solid #00FF88;
    border-radius: 20px;
    font-weight: 600;
}

.header-btn2:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 248, 70, 0.313);
}

.about-text-container {
    margin: 50px auto 0;
    text-align: center;
}

.about-sec-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-sec-description {
    line-height: 30px;
}

.about-sec-devider {
    margin: 80px auto;
    max-width: 1200px;
    border: 1px solid white;
}

.about-statistics-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto 120px;

    text-align: center;
}

.component {
    transition: transform 0.3s ease, border 0.3s ease;
}

.component:hover {
    transform: translatex(5px);
    box-shadow: 0 0 40px rgba(0, 170, 255, 0.303);
}

.component h1 {
    font-size: 3rem;
    color: #00FF88;
    padding: 0;
    margin-bottom: 16px;
}

.component p {
    line-height: 20px;
}


.why-techwave {
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px;
    margin: 0 auto;
}

.why-techwave-heading {
    margin: 0 auto 40px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.reasons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.reason {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    align-content: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reason:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(28, 9, 231, 0.15);
}

.span-2-row {
    grid-row: span 2;
}

.span-2-column {
    grid-column: span 2;
}

.reason h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.reason p {
    line-height: 24px;
}

.episodes-sec {
    padding: 120px 200px;
    margin: 0 auto;
}

.featured-episode-container {
    max-width: 1200px;
    margin: 0 auto 120px;
}

.featured-episode-container h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0 auto 40px;
}

.episodes-container {
    gap: 30px;
}

.episodes-container .card {
    width: 400px;
    box-shadow: 0 4px 8px rgba(0 0 0 0.2);
    background-color: #250D44;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.episodes-container .card:hover {
    transform: translate(-5px);
    box-shadow: 5px 5px 30px rgba(219, 219, 234, 0.212);
}

.episodes-container .card iframe {
    border: none;
}

.episodes-container .card-details {
    padding: 24px;
}

.card-details h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
}

.card-details p {
    line-height: 24px;
    margin-bottom: 12px;
}

.card-details .duration {
    color: #00FF88;
    font-weight: 600;
    line-height: 24px;
}

.meet-the-host h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.host-container {
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0 0 0 0.2);
    background-color: #250D44;
    border-radius: 30px;
    padding: 40px;
    gap: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.host-container:hover {
    transform: translate(5px);
    box-shadow: 0 0px 40px rgba(234, 0, 255, 0.623);
}

.host-details h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.host-details p {
    line-height: 24px;
    margin-bottom: 16px;
}

.socials {
    gap: 8px;
    align-items: center;
}

.socials .social-platform {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.social-platform:hover {
    background: white;
    transform: scale(1.1);
    border: 1px solid rgb(240, 0, 136);
}

footer {
    background: url(../images/footer-bg.png);
    padding: 120px
}

.footer-texts {
    text-align: center;
    margin: 0 auto;
}

.footer-texts h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 32px;
}

.footer-social {
    justify-content: center;
    gap: 40px;
    font-weight: 500;

    margin-bottom: 34px;
}

.footer-social p {
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    cursor: pointer;
}

.footer-social p:hover {
    background: #250D44;
    transform: scale(1.1);
    box-shadow: 0 0 5px white;
}

.copyright {
    color: rgba(250, 250, 250, 1);
}